/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/public/media/**/*
/public/sitemap.xml
/public/js/**/*
/public/css/**/*
/public/build
/public/mix-manifest.json
.DS_Store
.smithy.yaml
