.hover-shake {
  &:hover {
    animation: littleshake .4s;
  }
}

.hover-bob {
  &:hover {
    animation-name: bobbit;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
  }
}

.drop-in {
  animation-name: dropIn;
  animation-duration: .4s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: .5s;
  animation-timing-function: cubic-bezier(.57,.09,.43,.93);
  animation-fill-mode: forwards;
}

.rise-up {
  animation-name: riseUp;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(.57,.09,.43,.93);
  animation-fill-mode: forwards;
}

.an-del-1 {
  animation-delay: 0.4s;
}

.an-del-2 {
  animation-delay: 0.6s;
}

.an-del-3 {
  animation-delay: 0.7s;
}

.an-del-4 {
  animation-delay: .8s;
}

.an-del-5 {
  animation-delay: .9s;
}

.an-del-6 {
  animation-delay: 1s;
}

@keyframes littleshake {
  0% { transform: rotate(0deg)}
  12% {transform: rotate(3deg)}
  25% {transform: rotate(7deg)}
  33% {transform: rotate(3deg)}
  50% {transform: rotate(0deg)}
  62% {transform: rotate(-3deg)}
  78% {transform: rotate(-7deg)}
  86% {transform: rotate(-3deg)}
  100% {transform: rotate(0deg)}
}

@keyframes bobbit {
  0% { transform: translate3d(0,0,0)}
  25% {transform: translate3d(0,-7px,0)}
  50% {transform: translate3d(0,0,0)}
  75% {transform: translate3d(0,-7px,0)}
  100% {transform: translate3d(0,0,0)}
}

@keyframes dropIn {
  from { opacity: 0; transform: translate3d(0,-15px,0)}
  to { opacity: 1; transform: translate3d(0,0,0)}
}

@keyframes riseUp {
  from { opacity: 0; transform: translate3d(-50%,100px,0)}
  to { opacity: 1; transform: translate3d(-50%,0,0)}
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}