.bg-covered {
  background-size: cover;
  background-position: center;
}

.bg-col {
  background-color: $brand_primary;
}

.bg-col-soft {
  background-color: $brand_primary_soft;
}

.bg-light {
  background-color: $brand_light;
}

.bg-muted {
  background-color: $muted_background_colour;
}

.bg-trans {
  background-color: transparent;
}

.bg-opaque {
  background-color: rgba($brand_light, .8);
}

.bg-blended-col {
  background-color: $brand_primary;
  background-blend-mode: multiply;
}

.bg-pattern-grey {
  background-image: url('./images/pattern_grey.png');
  background-repeat: repeat;
  background-size: 300px;
}

.bg-pattern-orange {
  background-image: url('./images/pattern_orange_1.png');
  background-repeat: repeat;
  background-size: 300px;
}

.bg-blend-hard {
  background-blend-mode: hard-light;
}