@for $i from 0 to 12 {
  .pd-#{$i} { padding: map-get($sizes, $i); }
}

@for $i from 0 to 12 {
  .pd-x-#{$i} {
    padding-left: map-get($sizes, $i);
    padding-right: map-get($sizes, $i);
  }
}

@for $i from 0 to 12 {
  .pd-y-#{$i} {
    padding-top: map-get($sizes, $i);
    padding-bottom: map-get($sizes, $i);
  }
}

@for $i from 0 to 12 {
  .pb-#{$i} {
    padding-bottom: map-get($sizes, $i);
  }
}

@for $i from 0 to 12 {
  .pt-#{$i} {
    padding-top: map-get($sizes, $i);
  }
}

@for $i from 0 to 12 {
  .pl-#{$i} {
    padding-left: map-get($sizes, $i);
  }
}

@for $i from 0 to 12 {
  .pr-#{$i} {
    padding-right: map-get($sizes, $i);
  }
}

.pd-y-10 {
  @include respond-to(phone) {
    padding-top: map_get($sizes, 9);
    padding-bottom: map_get($sizes, 9);
  }
}