.sticky {
  position: fixed;
}

.sticky-top {
  position: fixed;
  top: 0;
  width: 100%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.absolute-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.absolute-bottom-right {
  position: absolute;
  bottom: 10px;
  right: 5px;
}

.zz-top {
  z-index: 100;
}