.mobile-only-block {
  display: none;

  @include respond-to(phone) {
    display: block;
  }
}

.mobile-only-dib {
  display: none;

  @include respond-to(phone) {
    display: inline-block;
  }
}

.no-mobile {
  @include respond-to(phone) {
    display: none;
  }
}