.heading {
  font-family: $serif;
  margin: 0;
  line-height: 1.2;
  font-weight: 700;
}

.h1 {
  @extend .heading;
  font-size: map-get($sizes, 8);

  @include respond-to(phone) {
    font-size: 1.75rem;
  }
}

.h2 {
  @extend .heading;
  font-size: map-get($sizes, 7);

  @include respond-to(phone) {
    font-size: map-get($sizes, 6);
  }
}

.h3 {
  @extend .heading;
  font-size: map-get($sizes, 6);

  @include respond-to(phone) {
    font-size: map-get($sizes, 5);
  }
}

.h4 {
  @extend .heading;
  font-size: map-get($sizes, 5);

  @include respond-to(phone) {
    font-size: map-get($sizes, 5);
  }
}

.h5 {
  @extend .heading;
  font-size: map-get($sizes, 4);
}

.h6 {
  @extend .heading;
  font-size: map-get($sizes, 3);
}

.body-text {
  font-family: $sans_serif;
  line-height: 1.4;
}

.body-italic {
  font-family: $sans_serif;
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.text-colour {
  color: $brand_primary;
}

.text-colour-soft {
  color: $brand_primary_soft;
}

.text-colour-light {
  color: $brand_light;
}

.text-grey {
  color: $mid_grey;
}

.text-large {
  font-size: map_get($sizes, 6);
}

.text-largish {
  font-size: map_get($sizes, 5);
}

.text-smaller {
  font-size: map_get($sizes, 3);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.fw-400 {
  font-weight: 400;
}

.fw-700 {
  font-weight: 700;
}

.fw-300 {
  font-weight: 300;
}