.delete-button-component {
  width: 150px;
  display: inline-block;

  .delete-button-outer {
    width: 150px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;

    &:hover {
      .delete-button-slider {
        background: lighten($brand_red, 10%);
      }
    }

    .delete-button-slider {
      width: 100%;
      background: lighten($brand_red, 20%);
      color: $white;
      transition: .4s;
      transform: translate3d(0,0,0);
      height: 32px;
      text-align: center;
      padding-right: 15px;



      span {
        line-height: 32px;
        cursor: default;
      }
    }

    &.alerted {
      border: 1px solid $brand_dark;
      .delete-button-slider {
        transform: translate3d(-60px,0,0);
        background: $light_grey;
        text-align: right;
        color: $brand_dark;
      }

      .delete-actual {
        z-index: 5;
        color: $brand_blue;
        font-weight: 700;
        form:hover {
          button {
            background: lighten($brand_blue_light, 20%);
          }
        }

      }
    }


    .delete-actual {
      width: 60px;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;


      form {
        width: 100%;

        button {
          width: 100%;
          border: none;
          background: $white;
          height: 32px;
        }
      }
    }
  }
}