body.menu-page {
  padding-top: $nav_height + $menu_nav_height;
}

.menu-nav {
  position: fixed;
  top: $nav_height;
  width: 100%;
  height: $menu_nav_height;

  @include respond-to(phone) {
    display: inline;
    overflow-x: auto;
    white-space: nowrap;
    z-index: 1;

    a {
      margin: 0 map_get($sizes, 5);
    }
  }


}