.main-navbar {
  height: $nav_height;
  z-index: 100;
  transition: .7s ease-in;

  #nav-trigger:checked + .nav-list {
    transform: rotateX(0deg);
  }

  @include respond-to(phone) {

    .nav-list {

      display: block;
      width: 100%;
      position: absolute;
      top: ($nav_height - 2px);
      left: 0;
      transform: rotateX(-90deg);
      transition: .3s ease-in;
      transform-origin: top;
      z-index: 999;
    }
  }

  .nav-item {
    position: relative;
    
    @include respond-to(phone) {
      display: block;
      text-align: center;
      font-size: 1.2rem;
      margin: map_get($sizes, 4) 0;
    }


    span {
      display: inline-block;
      position: relative;
      &:after {
        content: '';
        height: 4px;
        background: $brand_light;
        width: 100%;
        transform-origin: left;
        position: absolute;
        left: 0;
        bottom: -4px;
        transform: rotateY(90deg);
        transition: .4s;
        opacity: 0;
      }
    }



    &:hover, &.active {

      span:after {
        transform: rotateY(0deg);
        opacity: 1;
      }

    }

  }
}

body.home-page {
  .main-navbar.hidden {
    opacity: 0;
  }
}