.svg-icon {
  vertical-align: baseline;
  margin-right: 10px;
  height: map_get($sizes, 4);

  &:hover {
    path {
      fill: $brand_blue;
    }
  }

  path {
    fill: $mid_grey;
  }
}

.icon-large {
  height: 60px;
}

.svg-icon.icon-colour {
  path {
    fill: $brand_primary;
  }
}

.social-icon {
  svg {
    height: 40px;

    path {
      fill: $brand_primary;
    }

    &:hover {
      path {
        fill: $brand_blue;
      }
    }
  }

  &.white-icon {
    svg {

      path {
        fill: $brand_light;
      }

      &:hover {
        path {
          fill: $brand_blue;
        }
      }
    }
  }
}