.menu-group-app-component {

  .menu-group-index-card {
    margin: 2em 0;
    background: $white;

    header {
      //background: $brand_blue_light;
      color: $brand_red_dark;
      padding: 10px 20px;

      .main-header {
        //text-transform: uppercase;
        margin: 0;
      }

      .sub-header {
        font-size: 80%;
        color: $brand_red_dark;
      }
    }

    .body {
      padding: 10px 20px;

      p:first-child {
        font-size: 1.2em;
        color: $brand_dark;
      }

      p:nth-child(2) {
        color: $mid_grey;
      }
    }

  }
}