.dd-btn {
  background: $white;
  border: 1px solid $brand_orange;
  color: $brand_orange;
  text-transform: uppercase;
  border-radius: 0;

  &:hover {
    background: $brand_orange;
    color: $white;

    .spinner > div {
      background: $white;
    }
  }
}

.dd-btn.btn-grey {
  border: 1px solid $mid_grey;
  color: $mid_grey;
  text-transform: uppercase;
  border-radius: 0;

  &:hover {
    background: $white;
    color: $brand_orange_light;

    .spinner > div {
      background: $brand_orange_light;
    }
  }
}
