.single-image-uploader-box {

  .profile-image {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    display: block;
    border: 6px solid dodgerblue;
    max-width: 100%;

    &.processing {
      filter: grayscale(100%);
    }

    &.large {
      width: 300px;
      height: 300px;
    }

    &.full {
      width: 100%;
      height: auto;
      min-height: 200px;
    }

    &.round {
      border-radius: 50%;
    }
  }

  .single-upload-label {
    display: block;
  }

  input[type=file] {
    display: none;
    width: 100%;
  }

  .upload-message {
    color: #333;
    background: lighten(dodgerblue, 20%);
    padding: 4px 8px;
    border-radius: 5px;
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;

    &.error {
      color: white;
      background: indianred;
    }
  }

  .upload-progress-container {
    width: 100%;
    max-width: 250px;
    height: 16px;
    border: 1px solid #333;
    position: relative;
    display: block;
    margin: 0 auto;

    .upload-progress-bar {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      background: dodgerblue;
    }
  }
}