//font and type
$serif: 'Arvo', serif;
$sans_serif: 'Lato', sans-serif;

$base_font_size: 16px;

//colours
$brand_primary: #EF5018;
$brand_primary_soft: #F26C38;
$brand_primary_dark: #b74016;
$brand_red: #e61816;
$brand_red_dark: #8e0b11;
$brand_blue: #3D4963;
$brand_dark: #292626;
$brand_light: #FFFEFA;
$mid_grey: #b4b8c2;
$muted_background_colour: #fef6ec;
//sizes
$sizes: (
        0: 0,
        1: .25rem,
        2: .5rem,
        3: .75rem,
        4: 1rem,
        5: 1.25rem,
        6: 1.5rem,
        7: 2rem,
        8: 2.5rem,
        9: 3rem,
        10: 5rem,
        11: 7rem,
        12: 10rem
);

$border_sizes: (
        1: 1px,
        2: 2px,
        3: 3px,
        4: 5px
);

$nav_height: 75px;
$menu_nav_height: 60px;




