.menu-image-title {
  background-image: linear-gradient(90deg, rgba(0,0,0,.7) 0%, rgba(0,0,0,.7) 60%, rgba(0,0,0,.3) 100%);
}

.menu-page {
  .flickity-slider > div {
    font-size: 0;
  }

  div[data-flickity] {
    margin-top: -2px;
  }

  .menu-page-section {
    position: relative;
  }

  .menu-image-slider {
    //position: sticky;
    //top: 135px;

    @include respond-to(phone) {
      position: static;
    }
  }
}

.menu-icon {
  position: relative;
  z-index: -1;

  &:after {
    position: absolute;
    bottom: 25px;
    left: 20px;
    content: 'tooltip';
    background: rgba(0,0,0,.6);
    color: $brand_light;
    font-size: 50%;
    font-family: $sans_serif;
    padding: 5px 8px;
    border-radius: 4px;
    display: none;
  }

  &:hover:after {
    display: block;
    content: attr(data-tooltip);
    white-space: nowrap;
  }

  &.vegetarian:after {
    background: #afd152;
  }

  &.spicy:after {
    background: #bc3a2c;
  }

  &.recommended:after {
    background: #eaa645;
  }
}

.menu-nav {

  a::before {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $brand_blue;
    margin-right: 8px;
    margin-bottom: 2px;
    display: none;
  }
  a.visible {
    color: $brand_blue;
    &:before {
      display: inline-block;
    }
  }
}